<?xml version="1.0" encoding="utf-8"?>
<AutoTest>
		<Prefs>
        <LogReport>
            <LogPathName>/sdcard/AutoTesting/.report/serial_test_Report.txt</LogPathName>
        </LogReport>
    </Prefs>
    <LoopCount>1</LoopCount>
	<TestCase>
        <check>true</check>
        <name>enable-screen-lock.txt</name>
        <loop>1</loop>
        </TestCase>
	<TestCase>
        <check>true</check>
        <name>turn-wifi-off.txt</name>
        <loop>1</loop>
        </TestCase>
    	<TestCase>
        <check>true</check>
        <name>set-time.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
	<check>true</check>
        <name>enable-PM.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>wake-up-alarm-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>2-turn-wifi-on.txt</name>
        <loop>1</loop>
        </TestCase>
	<TestCase>
        <check>true</check>
        <name>3-suspend-4-mins-slide-home.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-24-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>widget-6-news-weather-6-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-12-min-switch-3g.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-8-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>7-listen-to-the-music.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>8-browse-news.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>9-tweet-1.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>10-view-tweet-1.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>11-browse-sports-bar.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-13-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-9-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-check-mail-6-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>13-view-joret-1.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-41-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-29-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>check-2-mail-2-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-29-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>15-joret-add-events.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-28-min-slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-29-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-check-html-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-70-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>line-cookie-run-5-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>line-2-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>watch-offline-movie-2-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>play-store-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-check-mail-3-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-74-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-check-mail-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-24-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>voice-call-2-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-18-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-html-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-18-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-check-2-html-mail-2-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>create-send-pictogram-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-7-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-check-html-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-28-min-slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-24-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-4-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-29-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>check-2-mail-2-min.txt</name>
        <loop>1</loop>     

	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-55-min-slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-1-min-browse-2-sports-bar-2-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>18-browse-sports-map.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-9-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>20-view-tweet.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>21-tweet-on-twitter-2.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>voice-call-3-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-9-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>voice-call-3-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>24-1-camera-shoot-6-time-1-min-suspend-26-min-switch-auto-rotate.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>24-2-watch-youtube-5-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>browse-10-football-news-10-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>16-browse-soccer-player.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-41-min-slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>line-stamp-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-26-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-40-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>24-boom-beach.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>25-browse-game.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-13-min-slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-17-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>browse-fb-3-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>fb-camera-post-6-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>widget-1-news-weather-4-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-16-min-slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-29-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>receive-check-pictogram-mail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-35-min-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>line-cookie-run-4-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>send-gmail.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>27-browse-conference-room.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>night-wake-up-alarm-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-11-min-slide-home-1-min.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>suspend-4h58m-unlock-screen.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>disable-PM.txt</name>
        <loop>1</loop>     
	</TestCase>
	<TestCase>
        <check>true</check>
        <name>disable-screen-lock.txt</name>
        <loop>1</loop>
        </TestCase>
	<TestCase>
        <check>true</check>
        <name>2-turn-wifi-on.txt</name>
        <loop>1</loop>
        </TestCase>
</AutoTest>
